<%= form_for @comment do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows:"2" %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>