<% if obj.errors.any? %>
  <div id="error_explanation" class="form_error">
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>